@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,300&family=Barlow+Condensed:ital,wght@1,300&display=swap");


.adj{
    width: 70%;
   
    
}
.conatainer {
  margin-top: 40%;
  /* background-color: bisque; */
  margin-left: 10;
 
}
.flex1 {
  display: flex;


}
.flex2 {
    margin-top: 10%;
 margin-left: 5px;
 width: 50%;
  
}
.box img {
  width: 75px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  padding: 5px;
  background-color: rgba(238, 212, 180, 0.71);
  border-radius: 25px;
}
.box {
  display: flex;
  padding: 20px;
}
.inp {
  padding: 10px;
  padding-top: 25px;
  margin-left: 20px;
  text-align: center;
}
.box a {
  font-size: 21px;
  text-decoration: none;
  font-family: "Archivo", sans-serif;
}
/* Apply a global box-sizing value */

/* Style the form container */
form {
  margin: 0 auto;
  padding: 20px;
  background-color: #f6a5a5;
  border-radius: 5px;
  width: 80%;
}

/* Style the form fields */
label,
input[type="text"],
input[type="email"],
textarea,
input[type="submit"] {
  display: block;
  margin-bottom: 10px;
  width: 90%;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  box-shadow: 1px 1px 2px #ddd;
}

textarea {
  height: 100px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}
