@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,300&display=swap');



.text {
  margin-top: 1%;
  margin-left: 30px;
  padding: 10px;
  background-color: rgb(247, 255, 240);
  border-radius: 95px;
}
.forparag{
  margin-left: 25px;
  margin-top: 10%;
  padding: 10px;
}
.forparag h5{
    font-family: 'Archivo', sans-serif;
}
.forparag h1{

    font-family: 'Archivo', sans-serif;
}

.imagesia img {
  width: 125px;
}
.imagesia {
  display: flex;
  padding: 65px;
  
}
.fortext {
  margin-left: 95px;
  padding: 20px;
  width: 50%;
  transition: background-color 1s ease-out;
  border-radius: 25px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
   
}
.fortext h2 {
    font-family: 'Archivo', sans-serif;
}
.fortext p {
    font-family: 'Archivo', sans-serif;
  font-size: 28px;
  margin-top: 25px;
  padding: 20px;
}
.fortext:hover{
    background-color: rgb(0, 8, 5);
    color: white;
    transform: translate(25px);
    text-align: center;
}
