.service {
  margin-left: 10px;
  text-align: center;
  /* background-color: brown; */
  margin-top: 90px;
  background-color: #f6f1f13a;
  width: 80%;
}
.service h2 {
  font-size: 18px;
  margin-bottom: 4em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1.8;
  position: relative;
  padding: 10px;
}
.service p {
  margin-bottom: 15px;
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  color: #999999;
  font-weight: 500;
  letter-spacing: 5px;
  margin-top: 50px;
  font-size: 25px;
}
.boxes1 {
  display: flex;
  background-color: #ffeeee;
}
.boxes2 {
  height: 400px;
  text-align: center;
  margin: 60px;
  background-color: #ffffff;

  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.boxes2 h1 {
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  letter-spacing: 1px;
}
.boxes2 p {
  margin-top: 65px;
  font-size: 18px;
  letter-spacing: 0;
  padding: 10px;
  text-align: center;
  font-weight: 400;
}
.boxes2 img {
  width: 105px;
  padding: 10px;
}
.boxes2:hover{
    background-color: rgba(254, 237, 237, 0.951);
    transform: scale(1.1);
    transition: smooth;
}
.hero{
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(103,58,183,0.08),rgba(33,150,243,0.5)),url(/images/bac3.jpg); 
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 60px;
}
.row{
  display: flex;
  margin-top: 10%;
padding-left: 30px;
}

.counter-box{
  width: 100%;
  height: 100%;
  background: #ffffff;
  padding: 20px 0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.col{
padding-left: 10%;

}
.counter-box{
  padding: 10px;
  background-color: #ceedffe6;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
h2 span{
  display: inline-block;
}